.hero-section {
    display: grid;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(10, 5, 28, 0.639), rgba(10, 5, 28, 0.639)), url(../../public/frontend/assets/images/hero-section/449.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px) grayscale(0.1);
    }

    &--title {
        margin-top: 15rem;
        width: 50%;
        margin-left: 5%;
        letter-spacing: 2px;
        word-spacing: 3px;
        color: rgba($main-light-yellow, .8);
        font-size: 3rem;
        line-height: 1.5;
        position: relative;
        z-index: 1;

        @media only screen and (max-width:$bp-large) {
            position: absolute;
            top: 7%;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            width: 80%;
            text-align: left;
        }

        @media only screen and (max-width:$bp-medium) {
            position: absolute;
            top: 0%;
            left: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            width: 80%;
            text-align: left;
        }
    }

    .checkin__form {
        background-color: rgba(13, 10, 25, 0.447);
        border: 1px solid rgba(219, 171, 48, 0.426);
        border-radius: 5px;
        padding: 2rem;
        z-index: 1;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        line-height: 3.5rem;
        position: absolute;
        bottom: 7rem;
        left: 3rem;

        @media only screen and (max-width:$bp-large) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 40%;
            left: 10%;
            bottom: 5%;
        }

        @media only screen and (max-width:$bp-medium) {
            width: 50%;
        }

        @media only screen and (max-width:$bp-small) {
            grid-template-columns: 1fr;
            width: 80%;
            bottom: 4%;
        }

        &--check {
            line-height: 1;
            padding: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.2rem;
            font-weight: 500;
            color: $main-light-yellow;
            min-width: 10rem;

            @media only screen and (max-width:$bp-large) {
                width: 100%;
            }

            .check-label {
                font-size: 1rem;
                padding-bottom: 1rem;
            }

            .counter-btn {
                font-size: 2.2rem;
                color: rgb(218, 195, 136);
                background: transparent;
                border: none;
                cursor: pointer;
                vertical-align: middle;
                padding: .3rem .5rem;
                border-radius: 50%;
                transition: all .1.5s;

                &:hover {
                    background-color: rgba(231, 231, 231, 0.279);

                }

                .bx-minus,
                .bx-plus {
                    vertical-align: middle;
                }
            }

            .counter-input {
                padding: 0.8rem;
                width: 4rem;
                text-align: center;
                border: 1px solid rgba(218, 195, 136, 0.35);
                background: transparent;
                color: rgb(218, 195, 136);
                border-radius: 6px;
            }

            .check-input {
                line-height: 1;
                border-radius: 7px;
                background: transparent;
                color: rgb(218, 195, 136);
                border: 1px solid rgba(218, 195, 136, 0.35);
                display: flex;
                padding: .8rem 0;
                text-transform: uppercase;
                min-width: 15rem;
                text-align: center;
                width: 100%;
            }
        }

        .checkin-button {
            line-height: 1.8;
            height: fit-content;
            margin-top: 3rem;
            padding: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.25rem;
            font-weight: 300;
            text-align: center;
            background-color: rgba(190, 186, 210, 0);
            color: $main-light-yellow;
            border-radius: 5px;
            border: 1px solid rgba(219, 171, 48, 0.69);
            cursor: pointer;
            width: -moz-fit-content;
            width: fit-content;

            @media only screen and (max-width:$bp-large) {
                margin-left: 2.5%;
                width: 95%;
            }

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.7);
            }

            &:active {
                transform: translateY(0px);
            }
        }
    }
}