.gallery-hotel-container {

    h1 {
        height: 45vh;
        font-size: 5rem;
        padding: 15rem 0 10rem 0;
        text-transform: uppercase;
        font-weight: 200;
        text-align: center;
        letter-spacing: 3.5rem;
        background: $main-darker-blue;
        color: $main-light-yellow;
    }
}