#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    border: 5px solid rgba(243, 176, 5, 0.201);
    border-top: 5px solid $main-light-yellow;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}