.rooms-container {
    min-height: 100vh;
    display: block;

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
        gap: 5rem;
        margin-top: 8%;
        justify-items: center;

        .card {
            background-color: rgba(27, 21, 46, 0.895);
            padding: 2rem;
            justify-items: center;
            border-radius: 3px;
            box-shadow: 0 1rem 2rem rgba(62, 61, 61, 0.727);
            width: 40rem;

            @media only screen and (max-width:$bp-medium) {
                max-width: 100%;
            }

            &:active {
                transform: translateY(3px);
                box-shadow: 0 1rem 2rem rgba(30, 30, 30, 0.727);
            }

            &:hover .card--img {
                filter: brightness(0.8);
            }

            &--link {
                text-decoration: none;
            }

            &--img {
                width: 100%;
                height: 25rem;
                object-fit: cover;
                border-radius: 3px;
            }

            &--room-name {
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #fff;
                font-weight: 200;
                text-align: center;
                padding: 1.5rem;
                font-size: 1.5rem;

                .card-bx {
                    font-size: 2rem;
                    font-weight: 100;
                }
            }

            &--room-info {
                color: #fff;
                padding: 1rem;
                font-size: 1.2rem;
                line-height: 1.2rem;
                font-weight: 200;
                text-align: center;
                letter-spacing: .5px;
            }
        }
    }
}