.user-reservation-container {
    display: grid;
    grid-template-columns: 40vw 1fr;

    @media only screen and (max-width:$bp-large) {
        grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    }

    @media only screen and (max-width:$bp-medium-700) {
        grid-template-columns: 1fr;
    }

    &__card {
        width: 75%;
        margin: 13rem 0 6rem 0;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;

        @media only screen and (max-width:$bp-medium-700) {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgba(252, 252, 252, 0.816);
    font-size: 1.5rem;
    margin: 10% auto;
    border-radius: 5px;

    tr {
        transition: all .1s;

        &:hover {
            background-color: rgba(6, 5, 87, 0.679);
            color: $main-light-yellow;
        }

        th {
            background-color: rgba(6, 5, 87, 0.987);
            text-align: left;
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            color: $main-light-yellow;
        }

        td {
            padding: 10px;
            border: 1px solid rgba(6, 5, 87, 0.338);

            .user-download {
                text-decoration: none;
                color: black;

                &:hover {
                    color: $main-light-yellow
                }
            }
        }
    }
}