.admin-profile-card {
    width: fit-content;
    margin-left: calc(50% - 100px);
    margin-top: 5%;
}

.admin-profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
}
.admin-info {
    text-align: center;
    line-height: 2.5rem;
}
