.room-details,
.card-left,
.card-right {
    border: 1px solid black;
    border-collapse: collapse;
    line-height: 1.5em;
    width: 100%;
}
.card-left,
.card-right {
    padding: 5px;
    text-align: left;
}

.card-left {
    width: 30%;
}

.each-room-card {
    margin-bottom: 4em;
    position: relative;
    padding-bottom: 4em;
}
.room-edit {
    position: absolute;
    bottom: 12px;
    right: 20px;
}

.room-delete {
    position: absolute;
    bottom: 12px;
    left: 20px;
}
