* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.admin-main-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

button[type="submit"] {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #12171e;
}

/* ERRORS MESSAGES */
.alert-danger {
    background-color: #ed143d66;
    border: 1px solid crimson;
    width: 50%;
    margin-left: 25%;
    margin: 2em auto;
}

.error-ul {
    list-style: none;
    line-height: 1.5em;
    padding: 1em;
}

/* SUCCESS MESSAGES */
.alert-success {
    background: #71bb71b0;
    line-height: 2em;
    width: 50%;
    margin-left: 25%;
    padding: 1em;
    margin: 2em auto;
}
