* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.admin-main-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.nav-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.nav-tabs .nav-item {
    display: inline-block;
    margin-right: 15px;
}

.nav-tabs .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #007bff;
    border-radius: 4px 4px 0 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: none;
}

.nav-tabs .nav-link.active {
    color: #495057;
}

.tab-content {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* ERRORS MESSAGES */
.alert-danger {
    background-color: #ed143d66;
    border: 1px solid crimson;
    width: 50%;
    margin-left: 25%;
    margin: 2em auto;
}

.error-ul {
    list-style: none;
    line-height: 1.5em;
    padding: 1em;
}

/* SUCCESS MESSAGES */
.alert-success {
    background: #71bb71b0;
    line-height: 2em;
    width: 50%;
    margin-left: 25%;
    padding: 1em;
    margin: 2em auto;
}

.pagination {
    display: none;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    padding-top: 4rem;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
}

.pagination li.active a,
.pagination li a:hover {
    background-color: #f0f0f0;
    color: black;
}

.pagination li.disabled span {
    border: 1px solid #eee;
    padding: 5px 10px;
    color: #ddd;
    font-weight: lighter;
}

/* // Define a breakpoint for small devices
$breakpoint-sm: 576px; // typically 576px for Bootstrap's small breakpoint */

/* @media (max-width: $breakpoint-sm) {
    .d-none.flex-sm-fill.d-sm-flex .pagination {
        display: none !important;
    }
} */
.d-flex .justify-items-center .justify-content-between {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    /* margin: 3rem auto; */
    margin-top: 3rem;
}

/* @media (min-width: $breakpoint-sm + 1) {
    .d-flex.justify-content-between.flex-fill.d-sm-none {
        display: none !important;
    }
} */

.d-none
    .flex-sm-fill
    .d-sm-flex
    .align-items-sm-center
    .justify-content-sm-between {
    text-align: center;
    margin-top: 3rem;
}
.d-flex.justify-content-between.flex-fill.d-sm-none {
    display: none !important;
}
