.booking-container {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
}

.booking-card {
    display: flex;
    gap: 5vw;
    margin-top: 10%;
}

.booking-area-img {
    width: 50vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 1em;
}
.booking-short-title {
    font-size: 2em;
    letter-spacing: 6px;
    text-align: center;
}

.booking-main-title {
    text-align: center;
    line-height: 2.5em;
}
.booking-short-description {
    line-height: 2em;
    text-align: justify;
}

.to-quick-booking-link {
    text-decoration: none;
    color: black;
    line-height: 4em;
    text-align: right;
    float: right;
    letter-spacing: 2px;
}

.to-quick-booking-link:hover {
    color: blueviolet;
    scale: 1.1;
    transition: ease-in-out 0.3s;
}

@media (max-width: 844px) {
    .booking-container {
        height: 100vh;
    }
    .to-quick-booking {
        display: inline;
    }
    .booking-area-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1em;
        margin-top: 5%;
    }
    .booking-card {
        display: block;
        margin-top: 20%;
    }
}
