.contact-form {
    width: 50%;
    margin: 5% auto;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contact-p {
    text-align: center;
}
.contact-another-content {
    width: 50%;
    margin: 8% auto;
}
.contact-item {
    margin-top: 30px;
}

.contact-item ul {
    list-style: none;
    padding: 0;
}

.contact-item li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-item i {
    font-size: 24px;
    color: #42d0ca;
    margin-right: 10px;
}

.contact-item .content span {
    display: block;
    font-size: 16px;
    color: #333;
}

.content {
    z-index: 5;
}
.contact-info {
    z-index: 5;
}
.contact-info-links {
    text-decoration: none;
    color: black;
    z-index: 5;
}

.contact-info-links:hover {
    color: #2a9792;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-btn:hover {
    border-color: #42d0ca;
    color: #42d0ca;
}

.contact-img {
    width: 75%;
    position: relative;
    top: -8em;
    left: 14em;
    z-index: 0;
    opacity: 0.9;
}
@media (max-width: 768px) {
    .contact-form {
        padding: 20px;
        width: 80%;
    }
    .contact-another-content {
        width: 90%;
        padding: 5%;
    }

    .section-title h2 {
        font-size: 24px;
    }

    .contact-item i {
        font-size: 20px;
    }

    .contact-item .content span {
        font-size: 14px;
    }

    .contact-img {
        position: relative;
        top: 0;
        left: 0em;
        width: 80%;
    }
}
