* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header-logo {
    width: 100px;
    height: 50px;
    object-fit: cover;
    inset: 5%;
    margin-bottom: -17%;
}
header {
    background-color: black;
    line-height: 3rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.nav-link {
    text-transform: uppercase;
    font-size: smaller;
    text-decoration: none;
    color: rgb(239, 239, 239);
    letter-spacing: 1.5px;
}
.nav-link:hover {
    color: rgb(119, 233, 233);
    scale: 1.2;
    transition: ease 0.15s;
}
.top-right {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.front-header-icon {
    font-size: x-large;
    vertical-align: middle;
}
