.header-logo {
    width: 100px;
    height: 50px;
    object-fit: cover;
    margin-top: 7%;
    border-radius: 0.3em;
}
header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgb(255 255 255);
    box-shadow: 1px 1px 4px 0 rgb(113 113 113 / 15%);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.header .menu-icon {
    left: 55%;
    cursor: pointer;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
    user-select: none;
}
.header .menu-icon .navicon {
    display: block;
    height: 3px;
    position: relative;
    transition: 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(2 107 98);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
.nav-link {
    text-transform: uppercase;
    font-size: smaller;
    text-decoration: none;
    color: rgb(2 107 98);
    letter-spacing: 1.5px;
    display: block;
    padding: 10px 15px;
}
.nav-link:hover {
    color: rgb(34, 2, 107);
    scale: 1.2;
    transition: ease 0.15s;
}
.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.menu li {
    margin-right: 3em;
}
.front-header-icon {
    font-size: x-large;
    vertical-align: middle;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
    text-align: end;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 970px) {
    .header li {
        float: left;
        margin-right: 2em;
    }

    .header li a {
        padding: 20px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}
