.hero-section {
    height: 100vh;
}

.hero-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
}
.hero-title {
    z-index: 2;
    position: absolute;
    top: 5rem;
    font-size: clamp(26px, 4vw, 39px);
    width: 50%;
    margin-left: 3rem;
    color: white;
    letter-spacing: 2px;
    line-height: 2em;
}
.check-in {
    background-color: #bafff2;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 3.5rem;
    position: absolute;
    bottom: 7rem;
    left: 3rem;
    border-radius: 2em;
}

.check {
    line-height: 03em;
    padding: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: smaller;
    font-weight: 500;
}

.check-input {
    line-height: 2em;
    border-radius: 7px;
    background: transparent;
}
.guest-input {
    height: 2.3em;
    width: 3.5em;
    padding-left: 10px;
}

.checkin-button {
    margin-top: 3em;
    border-radius: 0.3em;
    border: 1px solid black;
    padding: 0.5em;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: smaller;
    font-weight: 500;
}

.checkin-button:hover {
    scale: 1.1;
    cursor: pointer;
}
