.hero-section {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-section/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: relative;
}

.hero-title {
    margin-top: 7rem;
    z-index: 2;
    position: absolute;
    top: 5rem;
    font-size: clamp(26px, 4vw, 39px);
    width: 50%;
    margin-left: 3rem;
    color: white;
    letter-spacing: 2px;
    line-height: 2em;
}

.check-in {
    background-color: #bafff2;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 3.5rem;
    position: absolute;
    bottom: 7rem;
    left: 3rem;
    border-radius: 2em;
    padding: 0 1em;
}

.check {
    line-height: 3em;
    padding: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: smaller;
    font-weight: 500;
}

.check-input {
    line-height: 2em;
    border-radius: 7px;
    background: transparent;
    color: black;
}

.guest-input {
    height: 2.3em;
    /* width: 3.5em; */
    padding-left: 10px;
}

.checkin-button {
    margin-top: 3em;
    border-radius: 0.3em;
    border: 1px solid black;
    padding: 0.5em;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: smaller;
    font-weight: 500;
    color: black;
}

.checkin-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 540px) {
    .hero-section {
        background-size: 160vh;
        background-position-x: 22%;
        height: 165vh;
    }
    .hero-title {
        top: -1rem;
        font-size: clamp(22px, 4vw, 39px);
        width: 80%;
        margin-left: 10%;
        letter-spacing: 2px;
        line-height: 2em;
    }

    .check-in {
        height: 50%;
        top: 45%;
        width: 80%;
        left: 10%;
        bottom: 0;
        background-color: #ffffff;
        border: 0.7px solid gray;
        box-shadow: 0px 12px 22px 3px gray;
        display: flex;
    }

    .check {
        line-height: 2.5rem;
    }

    .check-input,
    .guest-input {
        width: 100%;
    }
}

@media (min-width: 540px) {
    .hero-section {
        background-position-x: 22%;
        height: 125vh;
    }
    .hero-title {
        top: -1rem;
        font-size: clamp(22px, 4vw, 39px);
        width: 80%;
        margin-left: 10%;
        letter-spacing: 2px;
        line-height: 2em;
    }

    .check-in {
        min-height: 18%;
        width: 80%;
        bottom: 12em;
        background-color: #ffffff;
        border: 0.7px solid gray;
        box-shadow: 0px 12px 22px 3px gray;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .check {
        line-height: 2.5rem;
    }

    .check-input,
    .guest-input {
        width: 100%;
    }
}

@media (min-width: 990px) {
    .check-in {
        bottom: 5em;
        background-color: #ffffff;
        border: 0.7px solid gray;
        box-shadow: 0px 12px 22px 3px gray;
        display: flex;
    }
}
