.rooms-container {
    background-color: beige;
    height: auto;
}
.rooms-section-title {
    text-align: center;
    font-size: clamp(18px, 3vw, 28px);
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: 10%;
    justify-items: center;
    background-color: aquamarine;
}
.card {
    margin: 4%;
    width: 80%;
    text-align: center;
    border: 1px solid lightblue;
}

.room-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
