.testimonials-container {
    height: 60vh;
    margin: 2% 0;
    background-color: black;
}
.testimonials-container {
    background: black;
    color: #fff;
    height: 60vh;
}
.other-review {
    width: 80vw;
    margin: 0 10vw;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 7vh;
}

.review-icon {
    font-size: 5em;
}

.review-text {
    text-align: justify;
}

.author-name {
    line-height: 3.5em;
    margin-left: 5%;
}
